* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-color: #1a4dbd;
  position: relative; /*any additional positioning will be done relative to this*/
}
/*aligning the logo*/
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
/*adjusting the logo size*/
nav img {
  width: 150px;
}

.nav-links {
  flex: 1; /*occupies all space in the row*/
  text-align: right;
}

.nav-links ul li {
  list-style: none; /*removes bullet points*/
  display: inline-block; /*displays horizon. instead of vert.*/
  padding: 8px 12px; /*space between content and border*/
  position: relative;
}

.nav-links ul li a {
  color: aliceblue;
  text-decoration: none; /*removes line from under text*/
  font-size: 20px;
}
.nav-links ul li::after {
  content: " "; /*leave blank for line under text*/
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: aliceblue;
  position: absolute; /* position will be done relative to header*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*transform allows you to visually manipulate an element
  translate- moves an element sideways or up and down*/
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  /*10 px away from top, 0 from left and rigth, 40 away from bottom*/
  font-size: 14px;
  color: aliceblue;
}
.visit {
  /* adjusting appearance of visit button*/
  text-decoration: none;
  color: aliceblue;
  border: 1px solid;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.visit:hover {
  /*creating hover effect over visit button*/
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

@media (max-width: 700px) {
  /*adjusting for mobile device-- NOT FINISHED --*/
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}
/* about us */
.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.login {
  color: aliceblue;
}

/* blog page */
.blog {
  text-align: center;
  color: aliceblue;
}
.form p {
  color: aliceblue;
  font-size: 15px;
  align-items: center;
}
.form button {
  /* send button on forms */
  width: 75px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
}
.form form {
  align-items: center;
}
